.skillsBlock{
    height: 100vh;
    background-color: #9bb774;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #b8dc8c
}

.skills {
    border: 1px solid;
    width: 100%;
}