.mainBlock {
    height: 100vh;
    background-color: #d5c2cf;
}

.container {
    border: 1px solid;
    height: 100%;
}

.greetings {
    width: 300px;
    background-color: #e8e8e8;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #e8e8e8;
}